<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Trading Bot</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
.small-input {
 width: 5px !important;
}
</style>
</head>
<body>
<div class="row m-1">
	<div class="col text-white bg-dark">
		<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item"><a class="nav-link btn" href="/">ADD NEW</a></li>
			{% for row in symbolist %}
			<li class="nav-item"><a class="nav-link" href="/?s={{row['symbolcode']}}">{{row['symbolcode']}}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-11">
	{{thisymbol['created_at']}}
	<form action="/" method="post" >
		<div class="mb-3">
			<label for="symbolcode" class="form-label">Symbol</label>
			<input type="text" class="form-control" id="symbolcode" name="symbolcode" value="{{thisymbol['symbolcode']}}">
		</div>
		<div class="mb-3">
			<label for="ceiling" class="form-label">Ceiling</label>
			<input type="number" class="form-control" id="ceiling" name="ceiling" value="{{thisymbol['ceiling']}}">
		</div>
		<div class="mb-3">
			<label for="floor" class="form-label">Floor</label>
			<input type="number" class="form-control" id="floor" name="floor" value="{{thisymbol['floor']}}">
		</div>
		<div class="mb-3">
			<label for="notes" class="form-label">Notes</label>
			<textarea class="form-control" id="notes" rows="3" id="notes"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>